.navbar-inverse {
  background-color: red;
  border-color: 0;
  border:0;
  color: black;
}
.navbar-inverse .navbar-nav>li>a {
    color: #000;
}
.navbar-inverse .navbar-brand {
    color: #000;
	  
  
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: white;

}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  color: white;

}